.container {
	// background-color: #fcfaf3;
	// background: url('../public/background.svg');
	width: 100vm;
	height: 100vh;
}

.main {
	margin-top: 100px;

	.mynameis {
		font-size: 16px;
		// font-family: 'prompt-med';
		margin-bottom: 5px;
	}
	.myname {
		font-size: 24px;
		font-family: 'prompt-sbold';
	}
	.skillswrapper {
		max-width: 500px;
		min-width: 300px;
		// height: 200px;
		background-color: white;
		border: 2px solid black;
		border-radius: 2px;
		box-shadow: 5px 6px 0px 0px #474747;

		.topmenu {
			border-bottom: 2px solid black;
			width: 100%;
			height: 40px;
			display: flex;
			align-items: center;
			margin: 0;
			padding: 0;

			.menuitem {
				font-family: "prompt-sbold";
				height: 100%;
				text-align: center;
				padding: 10px;
				list-style-type: none;
				display: flex;
				align-items: center;
				cursor: pointer;
			}

			.menuitem.active {
				background-color: black;
				color: white;
			}

			.menuitem.active:hover {
				background-color: black;
			}

			.menuitem:hover {
				background-color: #dadada;
			}
		}
		.skills {
			padding: 10px;
			margin: 0;
		}
	}

	.text {
		margin: 30px 0 5px 0px;
		font-family: 'prompt-light';
	}

	.contactbutton {
		width: 160px;
		height: 40px;
		background-color: white;
		border: 2px solid black;
		box-shadow: 2px 2px 0px 0px #474747;
		border-radius: 3px;
		font-family: 'prompt-sbold';
		font-size: 16px;
		cursor: pointer;
	}
}
